<div class="card border-primary mb-3" style="margin-left: 20px; margin-top: 3%; max-width: 100rem; height: 100%;">


  <div style="background: rgb(201, 197, 197);">

    <div>

      <h3>DATOS DE LA EMPRESA</h3>

      <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
        <div>
          <label style="font-size: 20px;">RUC:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Nombre:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Razon Social:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Tipo De Empresa:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Sector Empresarial:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Departamento:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Ciudad:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Pagina Web:</label>
        </div>
      </div>

    </div>

    <div style="margin-top: 9%;">

      <h3>DATOS DEL CONTACTO</h3>

      <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
        <div>
          <label style="font-size: 20px;">NOMBRE:</label>
        </div>
        <div>
          <label style="font-size: 20px;">CARGO:</label>
        </div>
        <div>
          <label style="font-size: 20px;">EMAIL:</label>
        </div>
        <div>
          <label style="font-size: 20px;">TELEFONO:</label>
        </div>
      </div>

    </div>


  </div>



  <div style="margin-left: 25%; margin-top: 5%;">

    <div>
      <input type="text" placeholder="COMENTARIOS..." style="width: 200px; height: 75px;">
    </div>

    <div style="margin-top: 5%;">
      <button style="color: red; width: 125px; height: 40px;">Enviar Correo</button> <button style="margin-left: 250px;  color: blue; width: 145px; height: 40px;">Activar Empresa</button>
    </div>

  </div>

</div>

