<div class="card border-primary mb-3" style="margin-left: 100px; margin-top: 3%; max-width: 50rem;">
  <div class="card-header">PERFIL DE LA EMPRESA</div>
  <div class="card-body text-primary">

    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="BUSCAR..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">BUSCAR</button>
      </form>
    </div>


    <table class="table table-bordered table-striped" style="margin-top: 2%;">
      <thead>
        <tr>
          <th scope="col">RUC</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">DEPARTAMENTO</th>
          <th scope="col">TIPO DE EMPRESA</th>
          <th scope="col">ESTADO</th>
          <th scope="col">ACCION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!--
          <td>{{pe.ruc}}</td>
          <td>{{pe.nombre}}</td>
          <td>{{pe.apellido}}</td>
          <td>{{pe.correo}}</td>
          <td>{{pe.estado}}</td>
          -->
        </tr>
      </tbody>
    </table>

  </div>


  <div>
    <button style="background-color: rgb(250, 246, 20); width: 200px; height: 50px; margin-left: 7%;"
    routerLink="/empresa">
      VISUALIZAR PERFIL DE EMPRESA
    </button>
  </div>


</div>







<!--

<div style="margin-left: 500px; margin-top: 10%; background-color: aqua;">

  <div class="flex-shrink-0 p-3 bg-white" style="width: 800px; margin-top: 10%;">
    <input type="text" placeholder="BUSCAR..."  style="width:100%; heigth:1000px">
  </div>
  <div style="margin-left: 50px;  margin-top: 2%;">



  </div>

</div>


-->

