<div class="card border-primary mb-3" style="margin-left: 100px; margin-top: 3%; max-width: 50rem;">
  <div class="card-header">PERFIL DE LA EMPRESA</div>
  <div class="card-body text-primary">

    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="BUSCAR..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">BUSCAR</button>
      </form>
    </div>


    <table class="table table-bordered table-striped" style="margin-top: 2%;">
      <thead>
        <tr>
          <th scope="col">RUC</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">DEPARTAMENTO</th>
          <th scope="col">TIPO DE EMPRESA</th>
          <th scope="col">SECTOR</th>
          <th scope="col">ACCION</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let empresaperfil of perfil">
        <td>{{empresaperfil.ruc}}</td>
        <td>{{empresaperfil.nombre}}</td>
        <td>{{empresaperfil.departamento}}</td>
        <td>{{empresaperfil.tipoEmpresa}}</td>
        <td>{{empresaperfil.sectorEmpresarial}}</td>
        <div>
        <button style="background-color: rgb(250, 246, 20); width: 90px; height: 50px; margin-left: 7%;"
                routerLink="/empresa/{{empresaperfil.ruc}}}">
          ver mas
        </button>
        </div>
      </tr>
      </tbody>
    </table>


  </div>


</div>







<!--

<div style="margin-left: 500px; margin-top: 10%; background-color: aqua;">

  <div class="flex-shrink-0 p-3 bg-white" style="width: 800px; margin-top: 10%;">
    <input type="text" placeholder="BUSCAR..."  style="width:100%; heigth:1000px">
  </div>
  <div style="margin-left: 50px;  margin-top: 2%;">



  </div>

</div>


-->

