<div style="margin-left: 20px; margin-top: 3%; width: 100%; height: 100%;">

  <div>

    <h3>ESTUDIANTES / EGRESADOS</h3>

    <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
      <div>
        <label style="font-size: 20px;">Numero de estudiantes registrados en el sistema:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de curriculums activados:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de curriculums sin activar:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
    </div>

  </div>

  <div style="margin-top: 2%;">

    <h3>EMPRESAS</h3>

    <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
      <div>
        <label style="font-size: 20px;">Numero de empresas registradas en el sistema:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de empresas activadas:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de empresas sin activar:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de empresas mas aceptadas:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Empresas con mayor cantidad de postulaciones:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Empresas con menor cantidad de postulaciones:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
    </div>

  </div>

  <div style="margin-top: 15%;">

    <h3>OFERTAS LABORALES</h3>

    <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
      <div>
        <label style="font-size: 20px;">Numero de ofertas registradas en el sistema:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales publicadas:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales sin validar:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales en estado de convocatoria:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales en estado de evaluación:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales en estado de selección:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales finalizadas:</label>
      </div>
      <div>
        <label style="font-size: 20px;"></label>
      </div>
    </div>
    
  </div>

</div>
