<div class="card border-primary mb-3" style="margin-left: 20px; margin-top: 3%; max-width: 100rem; height: 100%;">


  <div style="background: rgb(201, 197, 197);">

    <div>

      <h3>DATOS PERSONALES</h3>

      <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
        <div>
          <label style="font-size: 20px;">Cedula:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Nombre:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Apellido:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Genero:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Fecha De Nacimiento:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Correo:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Telefono:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Direcciones:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Ciudad:</label>
        </div>
        <div>
          <label style="font-size: 20px;">Estado Civil:</label>
        </div>
      </div>

    </div>

    <div style="margin-top: 15%;">

      <h3>INSTRUCCIÓN FORMAL</h3>

      <div class="card border-primary mb-3" style="margin-left: 250px; margin-top: 3%; max-width: 50rem;">
        <div class="card-header"></div>
        <div class="card-body text-primary">

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">NIVEL</th>
                <th scope="col">INSTITUCION</th>
                <th scope="col">PROMOCION</th>
                <th scope="col">TITULO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>



    <div style="margin-top: 9%;">

      <h3>INFORMACION LABORAL</h3>

      <div class="card border-primary mb-3" style="margin-left: 250px; margin-top: 3%; max-width: 50rem;">
        <div class="card-header">PERFIL OCUPACIONAL</div>
        <div class="card-body text-primary">

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">HABILIDADES</th>
                <th scope="col">DESTRESAS</th>
                <th scope="col">APTITUDES</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>



      <div class="card border-primary mb-3" style="margin-left: 250px; margin-top: 3%; max-width: 50rem;">
        <div class="card-header">EXPERIENCIA LABORAL</div>
        <div class="card-body text-primary">

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">AREA DE TRABAJO</th>
                <th scope="col">CARGO</th>
                <th scope="col">DURACIÓN</th>
                <th scope="col">EMPRESA</th>
                <th scope="col">ACTIVIDAD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>



      <div class="card border-primary mb-3" style="margin-left: 250px; margin-top: 3%; max-width: 50rem;">
        <div class="card-header">REFERENCIAS LABORALES</div>
        <div class="card-body text-primary">

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">INTITUCION</th>
                <th scope="col">NOMBRES</th>
                <th scope="col">CORREO</th>
                <th scope="col">TELEFONO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>




    <div style="margin-top: 9%;">

      <h3>CAPACITACIONES</h3>

      <div class="card border-primary mb-3" style="margin-left: 250px; margin-top: 3%; max-width: 50rem;">
        <div class="card-header"></div>
        <div class="card-body text-primary">

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">INSTITUCION</th>
                <th scope="col">TIPO</th>
                <th scope="col">AREA</th>
                <th scope="col">TIPO DE CERTIFICADO</th>
                <th scope="col">FECHA INICIO</th>
                <th scope="col">FECHA FINAL</th>
                <th scope="col">HORAS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>


    <div style="margin-top: 9%;">

      <h3>REFERENCIAS PERSONALES</h3>

      <div class="card border-primary mb-3" style="margin-left: 250px; margin-top: 3%; max-width: 50rem;">
        <div class="card-header"></div>
        <div class="card-body text-primary">

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">TELEFONO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>





  </div>

  <div style="margin-left: 25%; margin-top: 5%;">

    <div>
      <input type="text" placeholder="COMENTARIOS..." style="width: 200px; height: 75px;">
    </div>

    <div style="margin-top: 5%;">
      <button style="color: red; width: 125px; height: 40px;">Enviar Correo</button> <button style="margin-left: 250px;  color: blue; width: 125px; height: 40px;">Activar CV</button>
    </div>

  </div>

</div>

