<div style="margin-left: 20px; margin-top: 3%; width: 100%; height: 100%;">

  <div>

    <h3>ESTUDIANTES / EGRESADOS</h3>

    <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
      <div>
        <label style="font-size: 20px;">Numero de estudiantes registrados en el sistema:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de curriculums activados:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de curriculums sin activar:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
    </div>

  </div>

  <div style="margin-top: 100%;">

    <h3>EMPRESAS</h3>

    <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
      <div>
        <label style="font-size: 20px;">Numero de empresas registradas en el sistema:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de empresas activadas:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de empresas sin activar:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de empresas mas aceptadas:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Empresas con mayor cantidad de postulaciones:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Empresas con menor cantidad de postulaciones:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
    </div>

  </div>

  <div style="margin-top: 210%;">

    <h3>OFERTAS LABORALES</h3>

    <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
      <div>
        <label style="font-size: 20px;">Numero de ofertas registradas en el sistema:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales publicadas:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales sin validar:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales en estado de convocatoria:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales en estado de evaluación:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales en estado de selección:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
      <div>
        <label style="font-size: 20px;">Cantidad de ofertas laborales finalizadas:</label>
      </div>
      <div class="card border-primary mb-3"
      style="margin-left: -50px; margin-top: 3%; max-width: 850px; height: 300px;">
      </div>
    </div>

  </div>

</div>
