<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24">
      <use xlink:href="#bootstrap" /></svg>
    <span class="fs-5 fw-semibold">INSTA EMPLEO</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#home-collapse" aria-expanded="true">
        CURRICULUM VITAE
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="perfilestudiante" class="link-dark rounded">PERFIL</a>

          </li>
          <li><a href="intruformalestudiante" class="link-dark rounded">INSTRUCCION FORMAL</a></li>
          <li><a href="infolaboralestudiante" class="link-dark rounded">INFORMACION LABORAL</a></li>
          <li><a href="capacitacionesestudiante" class="link-dark rounded">CAPACITACIONES</a></li>
          <li><a href="refpersonalesesestudiante" class="link-dark rounded">REFERENCIAS LABORALES</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse" aria-expanded="false">
        OFERTAS
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="ofertaslaboralesesestudiante" class="link-dark rounded">LABORALES</a></li>
          <li><a href="ofertasaplicadasestudiante" class="link-dark rounded">APLICADAS</a></li>

        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#orders-collapse" aria-expanded="false">
        PERFIL EMPRESARIAL
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="perfilempresasestudiante" class="link-dark rounded">PERFIL DE EMPRESAS</a></li>

        </ul>
      </div>
    </li>

  </ul>
</div>

<form >
<div style="margin-top:-350px ;margin-left: 350px; " >
  <div class="row ">
    <div class="col">
      <label>INSTITUCION</label>
      <input type="text" class="form-control" aria-label="First name" name="institucion" 
      [(ngModel)]="Capacitacionesestudiante.institucion" requreired>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col">
      <label>Titulo de la capacitacion</label>
      <input type="text" class="form-control" aria-label="First name" name="nombre_capacitacion"
      [(ngModel)]="Capacitacionesestudiante.nombre_capacitacion" >
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col">
      <label>TIPO DE CAPACITACION</label>
      <input type="text" class="form-control" aria-label="First name"
      [(ngModel)]="Capacitacionesestudiante.tipoCapacitacion" requreired
      >
    </div>
  </div>
  <br>
  <label>AREA</label>
  <br>
  <select class="form-select" aria-label="Default select example"  >
    <option selected>Seleccione una opcion</option>
    <option value="1" *ngFor="let nivel of niveles">{{nivel.nombre}}</option>
   
  </select>
  <br>
  <div class="row ">
    <div class="col">
      <label>TIPO DE CERTIFICADO</label>
      <input type="text" class="form-control" aria-label="First name"
      [(ngModel)]="Capacitacionesestudiante. tipoCertificado" requreired
      >
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col">
      <label for="star">FECHA DE INICIO </label> &nbsp;&nbsp;
      <input type="date" id="star" name="trip-start" value="2021-08-01" min="2015-01-01" max="2021-08-31"
      [(ngModel)]="Capacitacionesestudiante.fechaInicio"  requreired
      >
    </div>
  </div>
    <br> <br>
    <div class="row ">
      <div class="col">
        <label for="star">FECHA DE FIN </label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="date" id="star" name="trip-start" value="2021-08-01" min="2015-08-01" max="2021-08-31"
        [(ngModel)]="Capacitacionesestudiante.fechaFin"  requreired
        >
      </div>
      <br> <br>
      <div class="row ">
        <div class="col">
          <label>NUMERO DE HORAS</label>
          <input type="text" class="form-control" aria-label="First name"
          [(ngModel)]="Capacitacionesestudiante.numHoras"  required
          >
        </div>
      </div>
      <br> 
      <div class="row ">
        <div class="col">
          <label>Cedula</label>
          <input type="text" class="form-control" aria-label="First name" name="cedula" 
          [(ngModel)]="Capacitacionesestudiante.cedula"  required
          >
        </div>
      </div>
    </div>
    <br>
    <div style="margin-left: 250px;">
      <button type="submit" class="btn btn-primary ">EDITAR</button> &nbsp;&nbsp;
    </div>
    <div style="margin-left: 250px;">
      <button type="submit" class="btn btn-primary" (click)="create()"   >GUARDAR</button>
    </div>
</div>
</form>