<div class="text-lg-start">
  <app-back-button link="/panel/administrador"></app-back-button>
</div>

<br>


<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">RUC</th>
    <th scope="col">NOMBRE</th>
    <th scope="col">DEPARTAMENTO</th>
    <th scope="col">TIPO DE EMPRESA</th>
    <th scope="col">SECTOR</th>
    <th scope="col">ACCION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let empresaperfil of perfil">
    <td>{{empresaperfil.id}}</td>
    <td>{{empresaperfil.ruc}}</td>
    <td>{{empresaperfil.nombre}}</td>
    <td>{{empresaperfil.departamento}}</td>
    <td>{{empresaperfil.tipoEmpresa}}</td>
    <td>{{empresaperfil.sectorEmpresarial}}</td>
    <div>
      <button type="button" class="btn btn-primary text-uppercase px-4 py-2 mt-3"
              routerLink="/panel/administrador/perfil-empresarial/{{empresaperfil.id}}">
        ver
      </button>
    </div>
  </tr>
  </tbody>
</table>

<p>list-perfil-empresarial works!</p>
