
<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">INSTA EMPLEO</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        CURRICULUM VITAE
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="perfilestudiante" class="link-dark rounded">PERFIL</a>

          </li>
          <li><a href="intruformalestudiante" class="link-dark rounded">INSTRUCCION FORMAL</a></li>
          <li><a href="infolaboralestudiante" class="link-dark rounded">INFORMACION LABORAL</a></li>
          <li><a href="capacitacionesestudiante" class="link-dark rounded">CAPACITACIONES</a></li>
          <li><a href="refpersonalesesestudiante" class="link-dark rounded">REFERENCIAS LABORALES</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        OFERTAS
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="ofertaslaboralesesestudiante" class="link-dark rounded">LABORALES</a></li>
          <li><a href="ofertasaplicadasestudiante" class="link-dark rounded">APLICADAS</a></li>

        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        PERFIL EMPRESARIAL
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="perfilempresasestudiante" class="link-dark rounded">PERFIL DE EMPRESAS</a></li>

        </ul>
      </div>
    </li>

  </ul>
</div>

<div style="margin-top:-300px ;margin-left: 350px; ">
  <img src="..." class="rounded" alt="...">
</div>

<div  class="forma">

  <div class="row " >
    <div class="col" >
      <input type="text" class="form-control" placeholder="NOMBRES" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="APELLIDOS" aria-label="Last name">
    </div>
  </div>
  <br>
  <div class="row " >
    <div class="col" >
      <input type="text" class="form-control" placeholder="CEDULA" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="GENERO" aria-label="Last name">
    </div>
  </div>
<br>
  <div class="row " >
    <div class="col" >
      <label for="star">FECHA DE NACIMIENTO </label>

      <input type="date" id="star"  name="trip-start" value="2021-08-01" min="2021-08-01" max="2021-08-31">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="CORREO" aria-label="Last name">
    </div>
  </div>
  <br>
  <div class="row " >
    <div class="col" >
      <input type="text" class="form-control" placeholder="TITULO" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="TELEFONO" aria-label="Last name">
    </div>
  </div>
<br>
  <div class="row " >
    <div class="col" >
      <input type="text" class="form-control" placeholder="CIUDAD" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="DIRECCIONES" aria-label="Last name">
    </div>
  </div>
<br>
  <div class="row " >
    <div class="col" >
      <input type="text" class="form-control" placeholder="ESTADO CIVIL" aria-label="First name">
    </div>

  </div>


</div>
  <br>
  <div style="margin-left: 550px;">
  <button type="submit" class="btn btn-primary  ">EDITAR</button> &nbsp;&nbsp;

  <button type="submit" class="btn btn-primary">GUARDAR</button>
</div>

