<app-header></app-header>
<div class="container w-75">
  <h2 class="text-center mb-4">Registro</h2>
  <form class="row g-5">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Username</label>
      <input type="text" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" />
    </div>

    <div class="col-md-6">
      <label for="inputAddress2" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputAddress2" />
    </div>

    <div class="col-md-6">
      <label for="inputAddress" class="form-label">Teléfono</label>
      <input type="tel" class="form-control" id="inputAddress" />
    </div>
    <div class="col-12 d-flex gap-4 justify-content-center align-items-center">
      <button
        type="button"
        class="btn btn-dark px-4 text-uppercase"
        routerLink="/home"
      >
        Regresar
      </button>
      <button type="submit" class="btn btn-dark px-4 text-uppercase">
        Registrarse
      </button>
    </div>
  </form>
</div>
