<div class="card bg-white text-dark">
    <div class="card-header">Capacitaciones</div>
    <div class = "card-body">

 <form ngNativeValidate (ngSubmit) = "create()"  > 
    <div class="form-group row">
        <label for="nombre_capacitacion" class="col-form-label col-sm-2">Titulo de la Capacitacion</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre_capacitacion"  [(ngModel)]="capacitacionest.nombre_capacitacion" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="institucion" class="col-form-label col-sm-2">institucion</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="institucion" [(ngModel)]="capacitacionest.institucion" required >
           
        </div>
    </div>
    

    <div class="form-group row">
        <label for="tipoCapacitacion" class="col-form-label col-sm-2">TIPO DE CAPACITACION</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="tipoCapacitacion"  [(ngModel)]="capacitacionest.tipoCapacitacion"  required>
        </div>
    </div>


    <div class="form-group row">
        <label for="tipoCapacitacion" class="col-form-label col-sm-2">Area de Estudio</label>
        <div class="col-sm-6">
            
            <select class="form-control" aria-label="Default select example" name="area_estudio"  type="text" [(ngModel)]="capacitacionest.area_estudio" >
                 <option selected></option>
                 <option  *ngFor="let nivel of niveles">{{nivel.nombre}}</option>     
               </select>   
        </div>
    </div>


    <div class="form-group row">
        <label for="tipoCertificado" class="col-form-label col-sm-2">TIPO DE CERTIFICADO</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="tipoCertificado"  [(ngModel)]="capacitacionest.tipoCertificado"  required>
        </div>
    </div>
    <div class="form-group row">
        <label for="fechaInicio" class="col-form-label col-sm-2">FECHA DE INICIO </label>
        <div class="col-sm-6">
            <input type="date" id="star" name="trip-start" value="2021-08-01" min="2015-01-01" max="2021-08-31" 
        [(ngModel)]="capacitacionest.fechaInicio" >
        </div>
    </div>


    <div class="form-group row">
        <label for="fechaFin" class="col-form-label col-sm-2">FECHA DE FIN </label>
        <div class="col-sm-6">
            <input type="date" id="star" name="trip-start" value="2021-08-01" min="2015-01-01" max="2021-08-31" 
        [(ngModel)]="capacitacionest.fechaFin" >
        </div>
    </div>

    <div class="form-group row">
        <label for="numHoras" class="col-form-label col-sm-2">Numero Horas</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="numHoras"  [(ngModel)]="capacitacionest.numHoras"  required>
        </div>
    </div>

    
        <div class="form-group-row" *ngIf="!capacitacionest.id else elseBlock">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button">Crear</button>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="form-group-row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" >Editar</button>
                </div>
            </div>
        </ng-template>
    </form>

    <br>
    <div>

        <div>
          <button class="btn btn-primary" [routerLink]="['/capacitacionesestudiante']" >Cancelar</button>
        </div>

      </div>
    </div>
</div>