<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24">
      <use xlink:href="#bootstrap" /></svg>
    <span class="fs-5 fw-semibold">INSTA EMPLEO</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#home-collapse" aria-expanded="true">
        CURRICULUM VITAE
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="perfilestudiante" class="link-dark rounded">PERFIL</a>

          </li>
          <li><a href="intruformalestudiante" class="link-dark rounded">INSTRUCCION FORMAL</a></li>
          <li><a href="infolaboralestudiante" class="link-dark rounded">INFORMACION LABORAL</a></li>
          <li><a href="capacitacionesestudiante" class="link-dark rounded">CAPACITACIONES</a></li>
          <li><a href="refpersonalesesestudiante" class="link-dark rounded">REFERENCIAS LABORALES</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#dashboard-collapse" aria-expanded="false">
        OFERTAS
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="ofertaslaboralesesestudiante" class="link-dark rounded">LABORALES</a></li>
          <li><a href="ofertasaplicadasestudiante" class="link-dark rounded">APLICADAS</a></li>

        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#orders-collapse" aria-expanded="false">
        PERFIL EMPRESARIAL
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="perfilempresasestudiante" class="link-dark rounded">PERFIL DE EMPRESAS</a></li>

        </ul>
      </div>
    </li>

  </ul>
</div>

<div class="forma">
  <div style="width: 50%;">
    <input type="search" class="form-control" placeholder="Buscar" aria-label="Last name">
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="card-text">RUC <br> NOMBRE <br> RAZON SOCIAL <br> UBICACION</p>
          <a href="detalleperempresasestudiante" class="btn btn-primary">VER</a>
        </div>
      </div>
    </div>


  </div>
</div>
