<div class="card border-primary mb-3" style="margin-left: 20px; margin-top: 3%; max-width: 100rem; height: 100%;">

  <div>

    <h3>INFORMACIÓN OFERTAS LABORALES</h3>

    <div style="margin-left: 250px; width: 500px; height: 200px; margin-top: 50px;">
      <div>
        <label style="font-size: 20px; margin-top: 2%;">CARGO:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">REQUISITOS:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">DESCRIPCIÓN:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">UBICACIÓN:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">SECTOR EMPRESARIAL:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">CIUDAD:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">JORNADA:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">AREA DE CONOCIMIENTO:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">FECHA DE INICIO DE CONVOCATORIA:</label>
      </div>
      <div>
        <label style="font-size: 20px; margin-top: 2%;">FECHA DE FIN DE CONVOCATORIA:</label>
      </div>
      <div>

        <label for="estado" style="font-size: 20px; margin-top: 2%;">ESTADO:</label>
        <select name="estado" id="estado">
          <option value="seleccionar"></option>
          <option value="convocatoria">CONVOCATORIA</option>
          <option value="evaluacion">EVALUACIÓN</option>
          <option value="seleccion">SELECCIÓN</option>
          <option value="finalizada">FINALIZADA</option>
        </select>

      </div>

    </div>

  </div>

  <div style="margin-left: 25%; margin-top: 35%;">

    <div>
      <input type="text" placeholder="COMENTARIOS..." style="width: 500px; height: 75px;">
    </div>

    <div style="margin-top: 5%;">
      <button style="background-color: red; color: white; width: 150px; height: 55px;">Enviar Correo Al Estudiante</button> <button style="margin-left: 250px;  background-color: blue; color: white; width: 150px; height: 55px;">Validar Y Publicar</button>
    </div>

  </div>

</div>


