<div style="margin-left: 20px; margin-top: 3%; max-width: 100rem; height: 100%;">

  <div class="container-fluid" style="margin-top: 2%;">
    <form class="d-flex" role="search">
      <input class="form-control me-5" type="search" placeholder="BUSCAR..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit">BUSCAR</button>
    </form>
  </div>

  <div class="card border-primary mb-3" style="margin-left: 20px; margin-top: 3%; max-width: 18rem; height: 100%;">


    <div class="card-body">

      <div>
        <label style="text-align: center;">NOMBRE EMPRESA</label>
      </div>
      <div style="margin-top: 8%;">
        <label>CARGO:</label>
      </div>
      <div style="margin-top: 1%;">
        <label>REQUISITOS:</label>
      </div>
      <div style="margin-top: 1%;">
        <label>UBICACION:</label>
      </div>
      <div style="margin-top: 1%;">
        <label>CIUDAD:</label>
      </div>

      <a href="#" class="btn btn-info" style="margin-left: 115px; margin-top: 7%;" routerLink="/revOfertaLaboral">INFORMACIÓN</a>
    </div>

  </div>

</div>
